@use '@angular/material' as mat;

#main-toolbar {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-secondary-container),
    container-text-color: var(--mat-sys-on-secondary-container)
  ));
}

#delete-users-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.content-div {
  padding: 2rem;
}

.twocols {
  display: flex;
  gap: 2em;
}
.column {
  flex-basis: 50%;
  box-sizing: border-box;
}

.mat-mdc-row {
  cursor:pointer;
}

.deleted-user {
  background-color: var(--mat-sys-error);
  color: var(--mat-sys-on-error);
}

.userinfo-key {
  font-weight: bold;
}