@use '@angular/material' as mat;

#main-toolbar {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-secondary-container),
    container-text-color: var(--mat-sys-on-secondary-container)
  ));
}

#delete-users-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.content-div {
  padding: 2rem;
}

.twocols {
  display: flex;
  gap: 2em;
}
.column {
  flex-basis: 50%;
  box-sizing: border-box;
}

.mat-mdc-row {
  cursor:pointer;
}

.deleted-user {
  background-color: var(--mat-sys-error);
  color: var(--mat-sys-on-error);
}

.userinfo-key {
  font-weight: bold;
}

.edit-user-form {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--mat-sys-primary-container);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.restore-button {
  margin-left: 10px; 
  font-size: 14px; 
  padding: 5px 10px; 
  border-radius: 4px; 
}

// Custom snackbar styles
.error-snackbar {
  background-color: #f44336; // Red color for errors
  color: white;
}

.success-snackbar {
  background-color: #4caf50; // Green color for success
  color: white;
}

// Position adjustments if needed
.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mdc-snackbar-container-color: #f44336;
    --mat-mdc-snack-bar-button-color: #fff;
  }
  &.success-snackbar {
    --mdc-snackbar-container-color: #4caf50;
    --mat-mdc-snack-bar-button-color: #fff;
  }
}
