<div class="login-container">
    <mat-card appearance="outlined" class="login-register-card">
      <mat-card-header>
        <mat-card-title>Iniciar Sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label for="name_or_mail">Nombre</mat-label>
              <input matInput id="name_or_mail" formControlName="name_or_mail" type="text" required />
              @if (loginForm.get('name_or_mail')?.invalid && loginForm.get('name_or_mail')?.touched) {
                <mat-error>El nombre es obligatorio</mat-error>
              }
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label for="password">Contraseña:</mat-label>
              <input matInput id="password" formControlName="password" type="password" required />
              @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
                <mat-error>La contraseña es obligatoria</mat-error>
              }
            </mat-form-field>
          </p>
        </form>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="onSubmit()" [disabled]="loginForm.invalid">Iniciar sesión</button>
      </mat-card-actions>
    </mat-card>
  </div>
